@using e_TicaretApp.Mvc.Models.ViewModels
@model List<CartItemViewModel>
@{
	decimal totalPrice = Model.Sum(item => item.UnitPrice * (decimal)item.Quantity);
}


@{
	ViewBag.Title = "Cart";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- breadcrumb-section -->
<div class="breadcrumb-section breadcrumb-bg">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 offset-lg-2 text-center">
				<div class="breadcrumb-text">
					<p>Fresh and Organic</p>
					<h1>Cart</h1>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end breadcrumb section -->
<!-- cart -->
<div class="cart-section mt-150 mb-150">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-md-12">
				<div class="cart-table-wrap">
					<table class="cart-table">
						<thead class="cart-table-head">
							<tr class="table-head-row">
								<th class="product-remove"></th>
								<th class="product-name">Name</th>
								<th class="product-price">Price</th>
								<th class="product-quantity">Quantity</th>
								<th class="product-total">Total</th>
							</tr>
						</thead>
						<tbody>
							@foreach (var item in Model)
							{
								<tr class="table-body-row">
									<td class="product-remove">
										<form asp-controller="Cart" asp-action="Delete" method="post">
											<input type="hidden" name="productId" value="@item.ProductId" />
											<button type="submit" class="btn btn-sm btn-danger"><i class="far fa-window-close"></i></button>
										</form>
									<td class="product-name">@item.ProductName</td>
									<td class="product-price">@item.UnitPrice</td>
									<td class="product-quantity">
										<form asp-controller="Cart" asp-action="Edit" method="post">
											<input type="hidden" name="productId" value="@item.ProductId" />
											<input type="number" name="quantity" value="@item.Quantity" min="1" />
											<button type="submit" class="btn btn-sm btn-outline-success">Update</button>
										</form>
									</td>
									<td class="product-total">@((item.UnitPrice * item.Quantity).ToString("C"))</td>
								</tr>
							}

						</tbody>
					</table>
				</div>
			</div>

			<div class="col-lg-4">
				<div class="total-section">
					<table class="total-table">
						<thead class="total-table-head">
							<tr class="table-total-row">
								<th>Total</th>
								<th>Price</th>
							</tr>
						</thead>
						<tbody>
							<tr class="total-data">
								<td><strong>Total: </strong></td>
								<td>@Model.Sum(i=> i.UnitPrice*(decimal)i.Quantity).ToString("C")</td>
							</tr>
						</tbody>
					</table>
					<div class="cart-buttons">@* 
						<a href="cart.html" class="boxed-btn">Update Cart</a> *@
						<a asp-controller="Order" asp-action="Create" class="boxed-btn black">Check Out</a>
					</div>
				</div>

				<div class="coupon-section">
					<h3>Apply Coupon</h3>
					<div class="coupon-form-wrap">
						<form asp-controller="Home" asp-action="Index">
							<p><input type="text" placeholder="Coupon"></p>
							<p><input type="submit" value="Apply"></p>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end cart -->